<ion-content>
    <div id="page-transitions" class="page-build highlight-magenta">
	
        <div class="header header-light header-static header-logo-app">
            <a href="index.html" class="header-title">LOGIN</a>
            <a href="#" class="header-icon header-icon-1 back-button"><i class="fas fa-arrow-left"></i></a>
            <a data-menu="menu-1" href="#" class="header-icon header-icon-3"><i class="fas fa-bars"></i></a>
            <a data-menu="menu-2" href="#" class="header-icon header-icon-2"><i class="fas fa-envelope"></i></a>
            <a data-menu="menu-3" href="#" class="header-icon header-icon-4"><i class="fas fa-cog fa-spin"></i></a>
        </div>
            
        
        <div class="page-content header-clear-larger">	
            <div class="page-login  top-0">
                <img class="preload-image login-bg responsive-image bottom-0" src="../../../assets/images/pictures/9w.jpg" data-src="../../../assets/images/pictures/9w.jpg" alt="img">
                <img class="preload-image login-image" src="../../../assets/images/pictures/0s.png" data-src="../../../assets/images/pictures/0s.png" alt="img">
                <h3 class="uppercase ultrabold top-30 bottom-0">Login</h3>
                <p class="smaller-text bottom-15">Hello, stranger! Please enter your credentials below.</p>
                <div class="page-login-field top-15">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Username">
                    <em>(required)</em>
                </div>			
                <div class="page-login-field bottom-20">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Password">
                    <em>(required)</em>
                </div>
                <div class="page-login-links bottom-10">
                    <a class="forgot float-right" href="page-register.html"><i class="fa fa-user float-right"></i>Create Account</a>
                    <a class="create float-left" href="page-forgot.html"><i class="fa fa-eye"></i>Forgot Password</a>
                    <div class="clear"></div>
                </div>
                <a href="#" class="button bg-highlight button-full button-rounded button-s uppercase ultrabold">LOGIN</a>
            </div>			
    
            
            <div class="footer footer-dark">
                <h2 class="color-white regular center-text bottom-20 bolder uppercase">
					<span class="font-24">Project<span class="color-magenta-dark">RAKET</span></span>
				</h2>
                <div class="footer-socials">
                    <a href="#"><i class="facebook-bg fab fa-facebook-f"></i></a>
                    <a href="#"><i class="twitter-bg fab fa-twitter"></i></a>
                    <a href="#"><i class="google-bg fab fa-google-plus-g"></i></a>
                    <a href="#" data-menu="menu-share"><i class="instagram-bg fas fa-share-alt"></i></a>
                    <a href="#" class="back-to-top"><i class="bg-green-dark fas fa-angle-up"></i></a>
                </div>
                <p class="footer-copyright">&copy; Enabled <span class="copyright-year"></span>. All rights reserved.</p>
            </div>
        </div>
        


        <a href="#" class="back-to-top-badge back-to-top-small bg-highlight"><i class="fa fa-angle-up"></i>Back to Top</a>
    </div>
  </ion-content>